@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
    --primary:hsl(212, 45%, 89%);
    --secondary:hsl(220, 15%, 55%);
    --Light-gray: hsl(212, 45%, 89%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
    height: 100vh;
}

.container{
    text-align: center;
    margin:65px auto ;
    padding: 15px;
    background-color: white;
    width: 400px;
    height: 100%;
    border-radius: 20px;
}

.image{
    border-radius: 10px;
    width: 370px;
   
}

.container > h2{
    margin: 20px 0;
    padding: 0 20px;
    font-weight: 700;
    font-size:1.7em ;
}

.container > p{
    margin-bottom: 30px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 400;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width: 375px) {
    .container{
        width: 90%;
        margin: 100px auto;

    }
    .image{
        width: 100%;
    }

    .container > h2{
        padding: 0 5px;
        font-size: 1.4em;
    }
}

